python-dotenv
ipykernel
ipywidgets
requests
numpy
pandas
scipy
sentence_transformers
matplotlib
tqdm
openai
pydantic
gradio==5.50.0
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
datasets==3.6.0
matplotlib
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
modal
psutil
setuptools
speedtest-cli
feedparser
protobuf==3.20.2
wandb
pdfplumber
langchain-huggingface==1.2.0
transformers<5
huggingface-hub<1.0.0
langchain
pypdf